@import url('https://fonts.googleapis.com/css?family=Arvo|Muli|Ribeye');
 *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

.container {
    max-width: 800px;
    margin: 0 auto;
}

body{
	font-family: 'Muli', sans-serif;
}

h1{
   font-family: 'Ribeye', cursive;  
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px;
   font-size: 50px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #73adec;
}

li {
    float:left;
    font-size: 18px;
    padding-left: 55px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

a:hover{
    color:antiquewhite;
}
div
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
body
{
	background-color:#9dcce6;
}
